{% extends 'contacts.html'%}

{% block 'titulo' %}Contacts{% endblock %}

{% block 'primeiro' %}Heloísa{% endblock %}

<!-- eu tava usando as pastas

pages
    templates

para pegar as páginas html e tava dando erro, dizendo que não foi encontrado o caminho.
desde que era o nome dos diretórios que estavam invertidos. tem que ser sempre

templates
    pages (ou qualquer outro nome)

porque configurei buscar templates

ERRO:

Template-loader postmortem

Django tried loading these templates, in this order:

Using engine django:

    django.template.loaders.filesystem.Loader: /Users/heloisasaldanha/Documents/python_django/estudoEstatico/templates/pages/index.html (Source does not exist)
    django.template.loaders.app_directories.Loader: /Users/heloisasaldanha/Documents/python_django/estudoEstatico/venv/lib/python3.9/site-packages/django/contrib/admin/templates/pages/index.html (Source does not exist)
    django.template.loaders.app_directories.Loader: /Users/heloisasaldanha/Documents/python_django/estudoEstatico/venv/lib/python3.9/site-packages/django/contrib/auth/templates/pages/index.html (Source does not exist)


-->